body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: white;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}
.bg-2 { 
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}
.bg-3 { 
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-4 { 
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}

#cards-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.card {
  width: 40rem;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.card img {
  width: 100%;
  height: 0;
  object-fit: fill;
  flex: 1;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}

.card-body h5 {
  margin: 0;
  font-size: 24px;
  color: black;
}

.card-body p {
  margin: 10px 0;
  font-size: 16px;
  color: grey;
}

.card-body .price {
  display: block;
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
}
